#navigation {
    font-family: "Hammersmith One";
    background-color: #FFB5A7;
    position: fixed;
    font-size: medium;
    top: 0; 
    display: flex;
    flex-direction: flex-end;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .nav-link {
    padding: 10px 10px 10px 10px;
    margin-right: 2%;
    color: rgb(114, 11, 19);
    display: flex;
    align-items: center;
  }
  
  .submitButton {
    margin-top: 43%;
  }
  
  #searchBar {
    max-width: fit-content;
  }

  #navBar-logo {
    max-width: 15%;
    max-height: auto;
    margin-right: auto;
  }
  