p {
  font-family: "Noto Sans";
}


label {
  font-family: "Noto Sans";
}

ul {
  font-family: "Noto Sans";
  list-style-type: none;
}

html {
  background-color: white;

}

a:link {
  text-decoration: none;
}

h1 {
  font-family: "Hammersmith One";
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 32%, 92%);
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  font-family: "Hammersmith One";
}

h3 {
  font-family: "Hammersmith One";
}

h4 {
  font-family: "Hammersmith One";
}

.loader {
  max-width: auto;
  max-height: auto;
  border-radius: 50%;
}

.articles-loader {
  margin-top: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#flex-container-topics-page {
  margin-top: 10%; 
  display: flex;
  flex-direction: column;
  margin-bottom: 100%;
}



