#navigation {
  border: 2px solid #FFB5A7;
  position: fixed;
  font-size: medium;
  top: 0; 
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0px auto;
  left: 0px;
  right: 0px;
}

.nav-link {
  padding: 10px 10px 10px 10px;
  margin-right: 5%;
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-page {
  margin-top: 10%; 
  border: 2px solid #FFB5A7;
}

#blurb {
  border: 2px solid #FFB5A7;
  margin: 2% 10% 2% 10%;
}

#most-recent {
  border: 2px solid #FFB5A7;
  margin: 2% 2% 2% 2%;
}

.article-card {
  border: 2px solid #FFB5A7;
  padding: 30px 30px 30px 30px;
}

#flex-container-mostProperty {
  margin: 5% 2% 20% 2%;
  border: 2px solid #FFB5A7;
  display: flex;
  flex-direction: row;
}

.loader {
  max-width: auto;
  max-height: auto;
}

#navBar-logo {
  max-width: 15%;
  max-height: auto;
  margin-right: 53%;
}

#articles-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%; 
}

.articles-loader {
  margin-top: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FFB5A7;
}

.display-article {
  margin-top: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FFB5A7;
}

#flex-container-topics-page {
  margin-top: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FFB5A7;
}

.commentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FFB5A7;
}

.commentCard {
  border: 2px solid #FFB5A7;
}